.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root .fighter-preview___img {
  max-height: 250px;
  height: auto;
}

.fighter-preview___info-text {
  color: white;
  font-family: Arial;
  text-align: center;
  width: 100%;
  margin: 0;
}
